.container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 16px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 0;
}

.gallery-item {
    list-style: none;
    width: calc((100% - 48px) / 3);
}

.gallery-image {
    transition: transform 0.2s ease-in;
}

.gallery-image:hover {
    transform: scale(1.04);
}

.modal {
    max-width: 1112px;
}